@font-face {
    font-family: 'Digi';
    src: url('fonts/ds-digib.ttf');
}

@font-face {
    font-family: 'Arcade';
    src: url("/styles/Fonts/ARCADECLASSIC.TTF");
}

@font-face {
    font-family: "Atari";
    src: url("/styles/Fonts/SF\ Atarian\ System.ttf");
}

* {
    box-sizing: border-box;
}

h1,
h2,
p {
    padding: 0.5rem;
    margin: 0;
}

h2 {
    font-size: 10rem;
    color: red;
}

h3 {
    font-size: 2.5rem;
}

body {
    background-color: #76cb95;
    /* background-image: url(''); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Arcade";
}


header,
main {
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    gap: 5vw;
}

main {
    background-image: url('/images/1Background1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

header {
    flex-direction: column;
    align-items: center;
}

#user-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

/* button {
    border: none;
    background: blue;
    color: white;
    font-size: 1rem;
    margin: 0.25rem;
}

button:hover {
    background-color: red;
    cursor: pointer;
} */


/* .button {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    font-family: "Atari";
    font-size: 2rem;
    color: black;
    text-align: center;
} */

.set {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    font-family: "Atari";
    font-size: 2rem;
    color: black;
    text-align: center;
}

.set:hover {
    background: #7a7474;
    box-shadow: 0px 4px #7a747400;
    color: white;
}

.set-pushed {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
    background: #7a7474;
}

.button {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 5px #7a74746d;
    margin: 0 7px 11px 0;
    font-family: "Atari";
    font-size: 2rem;
    color: black;
    text-align: center;
    width: 10vw;
    height: 5vh;
}

.button:hover {
    background: #7a747491;
    box-shadow: 0px 4px #7a747400;
    color: white;
}

/* Imitate a pressed effect for buttons */
.button:active {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
}

#mute {
    position: fixed;
    margin-top: 3vh;
    margin-left: 3vw;
}

.audio {
    width: 3vw;
    height: 5vh;
    background-image: url("/images/768px-Speaker_Icon.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.muted {
    width: 3vw;
    height: 5vh;
    background-image: url("/images/icone-de-haut-parleur-muet-noir.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#timer {
    font-family: "Digi";
    font-size: 3rem;
    width: 15vw;
    color: red;
    background-color: black;
}

#score-tracker {
    font-family: "Digi";
    font-size: 3rem;
    width: 15vw;
    color: red;
    background-color: black;
}

#digital-screen {
    border: 5px solid lightgray;
    border-radius: 5px;
}

#rules {
    width: 20vw;
    background-color: rgba(99, 202, 213, 0.888);
    border: 5px solid gold;
    border-radius: 5px;
    letter-spacing: 3px;
}


li {
    text-align: left;
    list-style: "-";
    font-size: 1.5rem;
}

.wasd-keys-icon {
    width: 2vw;
}

.enter-key-icon {
    width: 1.5vw;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.grid {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(9, 1fr);
    width: 58vw;
    height: 83vh;
    /* background-image: url(''); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 6vw 0 0 29.5vh;
}

.cell {
    /* border: 1px solid black; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player-facing-right {
    background-image: url('/images/cheemsRight.png');
}

.player-facing-left {
    background-image: url('/images/cheems.webp');
}

.bat-facing-right {
    background-image: url('/images/bat-right.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 8rem;
    background-position: center;
}

.bat-facing-left {
    background-image: url('/images/bat-left.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 8rem;
    background-position: center;
}

.swing-facing-right {
    animation-name: swing-right;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.swing-facing-left {
    animation-name: swing-left ;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

@keyframes swing-right {
    from {
        transform: rotate(0deg)
    }
    
    to {
        transform: rotate(120deg);
    }
}

@keyframes swing-left {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-120deg);
    }
}

.empty-hole {
    background-image: url('/images/doge-hole.png');
}

.doge-hole {
    background-image: url('/images/doge-hole-with-doge.png');
}

.bonked-doge-hole {
    background-image: url('/images/bonked-doge-hole.png');
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(211, 211, 211, 0.803);
    text-align: center;
    letter-spacing: 3px;
}

.title-doge {
    height: 6rem;
    margin-right: 7px;
}

h1 {
    font-size: 10rem;
    color: gold;
}

#start-screen h2 {
    font-size: 2rem;
}

#start-screen p {
    font-size: 3rem;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.fly {
    animation-name: fly-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fly-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}

#victory-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #3c97c9a4;
    text-align: center;
    letter-spacing: 3px;
}

#victory-screen > h2 {
    color:greenyellow;
}

#defeat-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #3c97c9a4;
    text-align: center;
    letter-spacing: 3px;
}

.victorious-cheems {
    width: 20vw;
}

.defeated-cheems {
    width: 15vw;
}

.defeated-doge {
    width: 15vw;
}

.victorious-doge {
    width: 15vw;
    margin-left: 4rem;
}

.end-screen-text {
    font-size: 2rem;
}